
 <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
	<div class="container">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- linki -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Zdrowie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Przede</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wszystkim</a>
      </li> 
	   <!-- Uzytkownik -->
      <% if(req != null) { %>
           <li class="nav-item">
             <a class="nav-link" href="/uiPage"><span class="glyphicon glyphicon-log-in"></span> Moje konto</a></li>
           <li class="nav-item">
             <a class="nav-link" href="/logoutPage"><span class="glyphicon glyphicon-user"></span> Wyloguj</a></li>
       <% } else if(req == null) { %>
           <li class="nav-item">
             <a class="nav-link" href="/loginPage"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
           <li class="nav-item">
             <a class="nav-link" href="/registerPage"><span class="glyphicon glyphicon-user"></span> Zarejestruj</a></li>
       <% } %>
    
    </ul>
  </div>
	</div>
</nav>