<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
 <% include ../partials/header %>
                   

<h1 align="center">Wylogowano poprawnie</h1>

<% include ../partials/footer %>
</body>
</html>