<!DOCTYPE html>
<html>
<head>
	<title></title>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="card registerCard" align="center">
	<h1>Rejestracja</h1>
	<form method="POST" action="/register">
		<input type="login" name="UserName" placeholder="Login" class="form-control">
		<input type="password" name="Password" placeholder="Haslo" class="form-control">
		
		<button class="btn btn-primary btn-md">Zarejestruj</button>
	</form>
<% include ../partials/error %>
</div>
<% include ../partials/footer %>
</body>
</html>