<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
<% include ../partials/ui_results_part %>
</head>
<script src="../../routes/user.js"></script>
<body>

    <div class="container">
        <div class="jumbotron">

            <h3 class="text-center">Wyznaczona dieta:</h3>
			
		<ul class="list-group">
		<% for(var i = 0; i < tabresult.length; i++) { %>
		<li class="list-group-item"><%= tabresult[i][0] %><span class="badge ui_b"><%= tabresult[i][1] %><span></li>
		<% }; %>
		</ul>
     <!--************************************************************************************************************-->


            <a href="/ui"><button type="submit" class="btn btn-primary btn-lg center-block" id="powrot"> Powrot </button></a>
        </div>

    

    </div>

    <% include ../partials/ui_footer %>
</body>
</html>