<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
<% include ../partials/ui_results_part %>
</head>
<script src="../../routes/user.js"></script>
<body>

    <div class="container">
        <div class="jumbotron">

            <h3 class="text-center">Wyznaczona dieta:</h3>
            <ul class="list-group">
                <li class="list-group-item">Pierwszy item<span class="badge ui_b">ilosc1</span></li>
                <li class="list-group-item">Drugi item<span class="badge ui_b">22</span></li>
            </ul>
            
	    <div id="list"></div>
            <!--************************************************************************************************************-->


            <a href="/ui"><button type="submit" class="btn btn-primary btn-lg center-block" id="powrot"> Powrot </button></a>
        </div>

    

    </div>

    <% include ../partials/ui_footer %>
</body>
</html>